*{margin:0;padding:0;outline:0}
body{font-family:verdana;font-size:12px;line-height:16px;}
.clear{overflow:hidden}
.template {
	width: 1000px;
	margin: 0 auto;
	border-left: 1px solid #909EA1;
	border-right: 1px solid #909EA1;
}
a{color:#000;font-weight:bold;text-decoration:none;}
a:hover{text-decoration:underline;}
h1, h2, h3, h4, h5, h6{font-weight:normal}
p{margin-bottom:15px;}
.headsection {
	height: 60px;
	background: #EAF2F4;
	border-top: 5px solid #4D4E49;
	border-bottom: 2px solid #B2C0C3;
}
.headerleft {
	float: left;
	width: 534px;
	margin-right: 50px;
	font-family: georgia;
	color:#4D4E49;
}
.headerleft h2 {
	float: left;
	font-size: 33px;
	padding-left: 20px;
	line-height: 40px;
	padding-right: 45px;
	border-right: 1px solid;
	margin-top: 8px;
}
.headerleft p {
	float: left;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 12px;
}
.headerright {
	float: right;
	width: 300px;
	margin-top: 16px;
	margin-right: 20px;
}
.headerright input[type="text"]{width:245px; background:#D5E5E8; border:1px solid #a1bcc2; padding:5px; margin-right:3px;}
.headerright input[type="submit"] {
	background: #D5E5E8;
	border: 1px solid #a1bcc2;
	padding: 4px;
	cursor:pointer;
}
.menusection {
	background: #EAF2F4;
	height: 45px;
}
.menuleft {
	float: left;
	width: 700px;
	margin-right: 25px;
}
.menuleft ul{margin:0px; padding:0px; list-style:none;}
.menuleft ul li {
	float: left;
	display: block;
	padding: 15px 25px;
	font-size: 14px;
	border-right: 1px solid #ADBCBF;
	margin: 5px 0px;
}
.menuleft ul li:last-child{border-right: 0px solid #ADBCBF;}
.menuleft ul li a{display:block;color:#8E9191;}
.menuleft ul li a:hover{}

.menuright {
	float: right;
	width: 260px;
	color: #5D655A;
	margin-top: 6px;
}
.menuright p {
	margin: 0px;
}
.bannersection{background:#049BAC; height:335px; border-top:2px solid #116FA6; border-bottom:2px solid #116FA6;}
.bannerleft {
	width: 466px;
	margin-left: 20px;
	margin-right: 34px;
	float: left;
}
.bannerleft h2 {
	font-family: georgia;
	font-size: 36px;
	color: #fff;
	line-height: 40px;
	border-bottom: 1px solid #82CDD6;
	margin-top: 40px;
	margin-bottom: 20px;
	padding-bottom: 15px;
}
.bannerleft p {
	color: #fff;
	line-height: 20px;
}

.bannerlink{}
.banlink {
	width: 170px;
	float: left;
	background: #DEDEDE;
	margin-right: 30px;
	padding: 10px 20px;
	margin-top: 15px;
}

.banlink a {
	color: #444;
	font-size: 20px;
	text-align: center;
	font-weight: normal;
	font-family:georgia;
}
.banlink a:hover{}

.bannerrright {
	width: 460px;
	float: right;
	margin-right: 20px;
}
.bannerrright img {
	margin-top: 44px;
	margin-left: 10px;
	background: #EAF2F4;
	padding: 8px;
	border: 1px solid #666;
}
.servicesection {
	background: #EAF2F4;
	
}
.allservice {
	margin: 30px 20px;
	border-bottom: 1px solid #fff;
	padding-bottom: 30px;
}

.services {
	width: 237px;
	border: 1px solid #CDD8D8;
	float: left;
}
.services h2 {168

	font-family: georgia;
	font-size: 22px;
	color: #049BAC;
	padding: 20px;
	background: #F1F7F7;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.sameservice {
	padding: 0 10px 10px 10px;
}
.sameservice h3 {
	font-family: georgia;
	font-size: 21px;
	color: #666666;
	border-bottom: 1px solid #475C5F;
	padding-bottom: 5px;
}
.sameservice p{color: #666666;}
.sameservice a {
	float: right;
	color: #666;
}
.sameservice a:hover{}

.contentsection{background:#EAF2F4; }
.contentleft{float:left; width:400px; margin-left:20xpx; margin-right:20px;}
.contentleft h2 {
	font-family: georgia;
	font-size: 21px;
	color: #666666;
	padding-bottom: 10px;
}
.contentleftdesc {
	padding-top: 25px;
	border-top: 1px solid #CDD8D8;
	padding-bottom: 25px;
}
.leftimage{float:left; width:90px; margin-right:10px;}
.leftimage img {
	background: #D7E5E9;
	padding: 5px;
	border: 1px solid #444;
}
.righttext{float:right; width:300px; color: #666666;}
.righttext h4{
	font-weight:bold;
}
.righttext p {
	margin-bottom: 5px;
	line-height: 18px;
}
.righttext a {
	float: right;
	color: #333333;
}
.righttext a:hover{}

.contentright{float:right; width:520px; margin-right:20px;}
.contentright h4 {
	font-weight: bold;
	margin-bottom: 8px;
	color: #666666;
}
.contentright h2 {
	font-family: georgia;
	font-size: 21px;
	color: #666666;
	border-bottom: 1px solid #CDD8D8;
	padding-bottom: 8px;
	margin-bottom: 15px;
}
.contentright img {
	float: left;
	margin-right: 20px;
	border: 1px solid #013D61;
	padding: 5px;
	background: #EAF2F4;
}
.contentright p {
	color: #666;
	margin-bottom: 10px;
}
.footertop {
	background: url(images/footerbg.png)repeat;
	height: 220px;
	border-bottom: 2px solid #3D3D3D;
}
.samefooter {
	width: 306px;
	float: left;
	margin-left: 20px;
}
.samefooter h2 {
	font-family: georgia;
	font-size: 21px;
	color: #b5b5b5;
	border-bottom: 1px solid #b5b5b5;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 5px;
}
.samefooter p{color:#b5b5b5;}
.samefooter input[type="text"] {
	width: 250px;
	padding: 5px;
	margin-bottom: 15px;
}
.samefooter input[type="submit"] {
	background: #fff;
	padding: 3px;
	border: 1px solid #fff;
	cursor: pointer;
}
.samefooter p {
	color: #b5b5b5;
	margin-bottom: 10px;
}
.samefooter ul{margin:0px; padding:0px; list-style:none;}
.samefooter ul li{
	padding-bottom:5px;
}
.samefooter ul li a{color:#049BAC; font-weight:normal;}
.samefooter a:hover{}

.footerbottom {
	background: url(images/footerbottombg.png)repeat;
	color: #fff;
	padding-top: 15px;
}
.footerleft{float:left; margin-left:20px;}
.footerleft p{}

.footerright{float:right; margin-right:20px;}
.footerright p{}